<div id="<%= dom_id(tarefa) %>" class="bg-white shadow-md rounded-lg p-4">
  <p class="text-lg font-semibold">
    <strong>Titulo:</strong>
    <%= tarefa.titulo %>
  </p>

  <p class="text-sm text-gray-600 mt-2">
    <strong>Descricao:</strong>
    <%= tarefa.descricao %>
  </p>

  <p class="text-sm text-gray-600 mt-2">
    <strong>Categoria:</strong>
    <%= tarefa.categoria %>
  </p>

  <p class="text-sm text-gray-600 mt-2">
    <strong>Data vencimento:</strong>
    <%= tarefa.data_vencimento %>
  </p>
</div>
